
html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

body{
  background-color: antiquewhite;
}

h1{
  border-bottom: 1px solid black;
  text-align: center;
  /* background-color: white; */
}

/* Main Page */
.MainPage{
  align-items: center;
  width: 100%;
}

/* Header Section */
.headerSection{
  display: flex;
  justify-content: space-between;
  padding: 4px;
  background-color: blue;
  color: white;
  font-weight: bold;
}
.center ul li{
  display: inline-flex;
  list-style: none;
  margin: 0px 10px;
}

.title{
  font-size: 1rem;
  text-align: center;
}
.left{
  flex: 4; 
}
.center{
  flex:4;
  margin: auto auto;  
 
}
.search{
  flex:2;
  margin: auto auto;
 
}

.search input{
  border-radius: 7px;
  padding: 10px;
 
}
.right{
  flex:4; 
  display: flex;
  justify-content: space-around;
  margin: auto auto;  
}

/* banner Section */
.bannerBox{
  margin: 2px 0px;
}

.bannerBox img{
  width: 100%;
  height: 100px;
}

/* collection sections */
.collectionSection h2{
  text-align: center;
}

.menImages{
  display: flex;
  width: 100%;
  gap: 10px;
}

.menImages img{
  padding: 2px;;
  width: 20%;
  height: 220px;
}

.womenImages{
  display: flex;

  width: 100%;
  gap: 10px;
}

.womenImages img{
  padding: 2px;;
  width: 20%;
  height: 220px;
}


/* footer Section */

.footerBox{
  margin: 2px 0px;
}
.footerBox img{
  width: 100%;
  height: 100px;
}